body {
  background-color: darkgrey;
}

#canvas {
  border: 1px white solid;
  height: 90vh;
}

.App {
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
}

.GameCanvas {
  background: black;
}

.GameBody {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.Game {
  display: flex;
  justify-content: space-between;
}

.Header {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

li {
  list-style: none;
  display: inline-block;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
