body {
  background-color: darkgrey;
}

h1, h2{
  font-family: 'Saira Stencil One', cursive;
}

h1 {
  font-size: 50px;
  margin: 0;
}

#canvas {
  border: 1px white solid;
  height: 90vh;
}

.App {
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
}

.GameCanvas {
  background: black;
}

.GameBody {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.Game {
  display: flex;
  justify-content: space-around;
}

.WordBank {
  /* overflow-y: scroll; */
  max-height: 700px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.Word {
  color: black;
}

.english-word:hover {
  background-color: darkgray;
  color: white;
  cursor: pointer;
}

.english-word {
  border: 1px black solid;
  border-radius: 25px;
  padding: 5px;
  margin: 2px;
  background: pink;
  display: inline-block;
}

.english-word:active {
  background-color: grey;
}

.CorrectWordBank {
  overflow-y: scroll;
  max-height: 700px;
  flex-grow: 1;
}

.correct-word {
  border: 1px black solid;
  border-radius: 25px;
  padding: 5px;
  margin: 2px;
  background: pink;
  display: inline-block;
}

.Header {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  background-color: white;
}

li {
  border: 1px black solid;
  border-radius: 25px;
  padding: 5px;
  background-color: pink;
}

li:hover {
  color: pink;
  cursor: pointer;
  background-color: grey;
}

li:active {
  background-color: darkgray;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

li {
  list-style: none;
  display: inline-block;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
